*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 15px;
}

.top{
    background-color: #1f2937;
}

.header{
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    
}

.left-top{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.right-top{
    font-size: 18px;
    color: #e5e7eb;
}

.top-mid{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 150px;
    padding-left: 150px;
    padding-right: 150px;
}

.top-mid-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 15px;
}


